.clear
{
	clear:both;
}
*
{
	padding:0;
	margin: 0;
	font-family: 'Poppins', sans-serif !important;
}
body
{
	font-family: 'Poppins';
	background: #fff;
	font-weight: normal;
	line-height: 1.5;
	color: #1A2B48;
	font-size: 13px;
}
@media screen end(min-width: 992px)
{
	#slide
	{
		margin:20px 50px; 
		border-bottom: 1px solid #f1f1f1;
	}
	#slide
{
	margin:20px 50px; 
	border-bottom: 1px solid #f1f1f1;
}
.widgets
{
	background: #FFFFFF;
	border: 1px solid #D7DCE3;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
	border-radius: 5px;
	width: 270px;
	z-index: 9;
	padding: 12px; 
	border-top: 5px solid blue;
}

}


#slide
{
	margin:20px 50px; 
	border-bottom: 1px solid #f1f1f1;
}	
.widgets
{
	background: #FFFFFF;
	border: 1px solid #D7DCE3;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
	border-radius: 5px;
	width: 270px;
	z-index: 9;
	padding: 12px; 
	border-top: 5px solid blue;
}

.fixed{
	position: fixed;
	top: 0px;
}
#money
{
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
#check
{
	height: 84px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
#guests
{
	height: 84px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;	
}

#bt
{
	height: 145px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;	
}

.icon
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #5E6D77;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
}
.icon1
{
	font-size: 20px;
}
.st-right
{

	color: yellow;
	width: 180px;
	float: right;
}
.banner img
{
	width: 100%;
	height: 460px;
}
p {
	margin: 0 0 10px;
	font-size: 13px;
}
.description a {
	color: #0254EB
}
.description a:visited {
	color: #0254EB
}
.description a.morelink {
	text-decoration:none;
	outline: none;
}
.description .morecontent span {
	display: none;
}
.theicon
{
	width: 811px;
	height: 100px;
	font-size: 24px;
}
.rules
{
	/*font-family: Poppins-Regular;*/
	font-size: 14px;
	color: #5E6D77;
	letter-spacing: 0;
}
.amenitis
{
	width: 811px;
	height: 200px;
	font-size: 24px;
	/*	font-family: Poppins-Regular;*/

}
.description
{
	/*font-family: Poppins-Regular;*/
	font-size: 14px;
	color: #5E6D77;
	letter-spacing: 0;
}
.h2-text
{
	/*	font-family: Poppins-Medium;*/
	font-size: 30px;
	color: #1A2B48;
	letter-spacing: 0;
	text-align: left;
}
.review
{
	margin-right: 300px;
}
.st-re
{
	margin-top: 30px;	
}
/*Book*/
/*số ng*/
.label
{
	width: 100%;
}
.field_people_room {
	padding-left: 0.5px;
	padding-right: 0.5px;
	margin-bottom: 15px;
	width: 200px;
}

.field_people_room .people-inner {
	
	background: #fff;
	padding: 16px 5px 20px 10px;
	position: relative;
	color: gray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.field_people_room .people-inner .fa {
	font-size: 17px;
	margin-right: 10px;
}

.people-inner .people-group .label {
	color: gray;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	padding: 0;
}

.field_people_room .people-inner .people-group .value {
	font-size: 20px;
	color: #5191fa;
	display: block;
	font-weight: 450;
}

.field_people_room .people-dropdown {
	display: none;
	z-index: 1;
	padding: 20px 20px;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	font-size: 1.3em;
	color: gray;
	min-width: 240px;
	position: absolute;
	background: #fff;
	top: 69px;
	left: 5px;
}

.field_people_room .people-dropdown:before {
	position: absolute;
	display: inline-block;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
	top: -7px;
	left: 17px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #fff;
}

.field_people_room .people-dropdown .item {
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.field_people_room .people-dropdown .item .minus {
	width: 30px;
	color: #5191fa;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.field_people_room .people-dropdown .item .text .value {
	font-size: 20px;
	color: #5191fa;
	font-weight: 500;
}

.field_people_room .people-dropdown .item .add {
	width: 30px;
	color: #5191fa;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	float: right;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*end số ng*/


.language-content1
{
	/*margin-left: -60px;*/
	line-height: 10px;
	font-size: 14px;
	width: 140px;
	margin-left: 10px;
	margin-top: 30px;
}
.language-content
{
	
	
	font-size: 14px;
	width: 160px;
	margin-left: 10px;
	margin-top: 30px;
}

#check-option1
{
	float: right;
	/*margin-top: 10px;*/
	margin-left: : 210px;
	margin-top: -25px;
	
}
#check-option2
{
	/*float: right;*/
	/*margin-top: 10px;*/
	/*margin-right: 10px;*/
	margin-top: -25px;
	margin-left: 210px;
	
}
#check-option3
{
	/*float: right;*/
	/*margin-top: 10px;*/
	/*margin-right: 10px;*/
	/*margin-top: -15px;*/
	margin-left: 210px;
	margin-top: -35px;
	
}
.select
{
	margin-right: 1px;
}
/*end book*/

.btn-book{
	width: 230px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #5191FA;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}
.btn-book:hover{
	background: #4977FA;
	color: #fff;
	text-decoration: none;

}
.review-list .comment-item {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #EAEEF3;
	border-bottom: 1px solid #EAEEF3;
	font-size: 14px;
}
.review-list .comment-item .comment-item-head .media 
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 100px;
}
.st-cmt
{
	color: yellow;
}
.like {
	float: right;
	margin-top: -35px;
	color: #1C48E7;
}
.review-list .comment-item .comment-item-head .like .btn-like {
	color: #1A2B48;
	margin-left: 5px;
	font-size: 20px;
}
.comment-item
{
	font-size: 20px;
}
.review-list .comment-item .comment-item-body 
{
	margin-top: 30px;
}
.review-list .comment-item .comment-item-body .comment-rate 
{
	padding: 5px;
	background: #5191FA;
	color: #FFF;
	border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
}
.review-list .comment-item .comment-item-body .detail {
	color: #74818A;
}
.review-list .comment-item .comment-item-head .media-left img {
	border-radius: 50%;
}
.chodeformdangki
{
	background-color: #F9F9F9;
}
.formdangky
{
	margin-left: 15px;
}
.dangky{
	cursor: pointer;
}
.daonguoc svg:not(:root).svg-inline--fa{
	transform: rotate(180deg);
	font-size: 20px;	
}
/*hieu ung vote*/
div.stars {
	width: 270px;
	display: inline-block;
}

input.star { display: none; }

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
	content: '\f006';
	font-family: FontAwesome;

}
.control-custom {
	font-size: 14px;
	margin-left: 15px;
	color: #868686;
	width: 97%;
	/*Footer*/
}
/*Footer*/
#footer-mail
{
	
	height: 235px;
	background-color:#F5F5F5 ;
}
#footer-mail #footer_ico
{
	padding-left: 150px;
	padding-top: 79.9px;
	float: left;
}
#footer-mail #footer_email_content
{
	width: 397px;
	height: 62.2px;
	float: left;	
	padding-top: 92.9px;
	margin-left: 10px;
	line-height: 18px;
}
#footer-mail #footer_email_content #footer_email_content1
{
	width: 397px;
	height: 36.7px;
}
#footer-mail #footer_email_content #footer_email_content2
{
	width: 397px;
	height: 25.5px;
}
#footer-mail #footer_search
{
	float: left;
	width: 470px;
	padding-top: 88px;
	margin-left: 0;
}

#footer_content
{
	padding-top: 61.3px;
	padding-left: 135px;





}

#footer_content .footer_content_header
{
	font-family:Poppins-SemiBold;
	font-size: 16px;
	color: #1A2B48;

}
#footer_content .footer_content_element 
{
	border-left: 3px solid #5191FA ;
	margin-top: 20px;
}

#footer_content .footer_content_element .footer_content_element1
{
	font-family:Poppins-Regular;
	font-size: 14px;
	color: #5E6D77;
	padding-left: 15px;


}
#footer_content .footer_content1_element 
{
	margin-top: 20px;
}
#footer_content .footer_content1_element .footer_content1_element1
{
	font-family: Poppins-Medium;
	font-size: 14px;
	color: #1A2B48 ;

}
.footer_sub
{
	border-bottom: 1px solid #DDDDDD;
}
.footer_sub .footer_sub_L 
{
	padding-top: 30px;
}
.footer_sub .footer_sub_R 
{
	padding-top: 25px;
}
