*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif !important;
}
body{
	font-family: 'Poppins' !important;

}
.mailchimp 
{
	padding-top: 65px;
	padding-bottom: 40px;
	background: #F5F5F5; 
}
.mailchimp .media 
{
	overflow: visible; 
}
.mailchimp .media .media-object
{
	position: relative;
	top: -10px; 
}
.main-footer-sub 
{
	padding-top: 10px;
	padding-bottom: 30px; 
}
.subcribe-form 
{
	position: relative; 
}
.subcribe-form .form-control {
	height: 55px;
	line-height: 53px;
	font-size: 14px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #D7DCE3;
}
.subcribe-form input[type="submit"] 
{
	border: none;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 55px;
	line-height: 55px;
	color: #FFF;
	background: #5191FA;
	padding-left: 25px; 
	padding-right: 25px;
	font-weight: 600;
	text-transform: uppercase;
}
.pr30 {
	padding-right: 30px;
}
.f24 {
	font-size: 24px !important;
}
.f16 {
	font-size: 16px !important;
}
.c-grey {
	color: #5E6D77 !important;
}
#footer_content
{
	padding-top: 61.3px;
	padding-left: 40px;
	min-height: 450px;
}
#footer_content .footer_content_header
{
	
	 font-size: 14px;
	 color: #1A2B48;
	 font-weight: 500;
}
#footer_content .footer_content_element 
{
	 border-left: 3px solid #5191FA ;
	 margin-top: 20px;
	}
#footer_content .footer_content_element .footer_content_element1
{
font-family:Poppins-Regular;
	 font-size: 14px;
	 color: #5E6D77;
	padding-left: 15px;
}
#footer_content .footer_content1_element 
{
	margin-top: 20px;
}
#footer_content .footer_content1_element .footer_content1_element1
{
	font-family: Poppins-Medium;
	 font-size: 14px;
	 color: #1A2B48 ;
}
.footer_sub
{
	border-top: 1px solid #DDDDDD;
}
.footer_sub .footer_sub_L 
{
	padding-top: 30px;
	font-size: 15px; 
	color: #768092;
	 padding-left: 25px;
}
.footer_sub .footer_sub_R 
{
	padding-top: 25px;
}
@media (min-width: 992px)
{
#footer_content .col-lg-3
{
 	width: 25%;
    float: left;
}
#footer_sub .col-lg-3
{
 	width: 25%;
    float: left;
}
}



