*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	font-family: 'Poppins';

}
.mailchimp 
{
	padding-top: 65px;
	padding-bottom: 40px;
	background: #F5F5F5; 
}
.mailchimp .media 
{
	overflow: visible; 
}
.mailchimp .media .media-object
{
	position: relative;
	top: -10px; 
}
.main-footer-sub 
{
	padding-top: 10px;
	padding-bottom: 30px; 
}
.subcribe-form 
{
	position: relative; 
}
.subcribe-form .form-control {
	height: 55px;
	line-height: 53px;
	font-size: 14px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #D7DCE3;
}
.subcribe-form input[type="submit"] 
{
	border: none;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 55px;
	line-height: 55px;
	color: #FFF;
	background: #5191FA;
	padding-left: 25px; 
	padding-right: 25px;
	font-weight: 600;
	text-transform: uppercase;
}
.pr30 {
	padding-right: 30px;
}
.f24 {
	font-size: 24px !important;
}
.f16 {
	font-size: 16px !important;
}
.c-grey {
	color: #5E6D77 !important;
}
#footer_content
{
	padding-top: 61.3px;
	padding-left: 40px;
	min-height: 450px;
}
#footer_content .footer_content_header
{
	
	 font-size: 14px;
	 color: #1A2B48;
	 font-weight: 500;
}
#footer_content .footer_content_element 
{
	 border-left: 3px solid #5191FA ;
	 margin-top: 20px;
	}
#footer_content .footer_content_element .footer_content_element1
{
font-family:Poppins-Regular;
	 font-size: 14px;
	 color: #5E6D77;
	padding-left: 15px;
}
#footer_content .footer_content1_element 
{
	margin-top: 20px;
}
#footer_content .footer_content1_element .footer_content1_element1
{
	font-family: Poppins-Medium;
	 font-size: 14px;
	 color: #1A2B48 ;
}
.footer_sub
{
	border-top: 1px solid #DDDDDD;
}
.footer_sub .footer_sub_L 
{
	padding-top: 30px;
	font-size: 15px; 
	color: #768092;
	 padding-left: 25px;
}
.footer_sub .footer_sub_R 
{
	padding-top: 25px;
}
@media (min-width: 992px)
{
#footer_content .col-lg-3
{
 	width: 25%;
    float: left;
}
.topbar-left {
	float: left;
	height: 21px;
}
ul.st-list.socials {
	float: left;
}
ul.st-list.topbar-items{
	float: left;
}

.topbar-left ul li {
	list-style: none;
}
.topbar.container {
	margin-left: 0;
}
.topbar {
    background: #1A2B48;
    color: #FFFFFF;
    padding: 15px;
/*    padding-left: 50px;*/
}
.topbar-right {
    float: right;
}
ul.st-list.topbar-items li {
	display: inline-block;
	    padding-left: 18px;
    padding-right: 18px;
}
ul{
	margin-bottom: 0;
}
 .topbar .topbar-items li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
ul.st-list.topbar-items li:hover ul {
	    background: #1A2B48;
    display: block;
}
.dropdown {
    position: relative;
}
ul.dropmenu {
    display: none;
    position: absolute;
    top: 36px;
    left: 9px;
    background-color: black;
    z-index: 3;
        border-radius: 4px;
}
li a {
/*	display: block;*/
}
.header .topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 50px;
    background: #1A2B48;
}
.header .topbar .socials {
    display: inline-block;
    border-right: 1px solid #374969;
}
.header .topbar .topbar-items {
    display: inline-block;
}
ul.st-list.socials li a {
/*    padding-left: 18px;*/
    padding-right: 18px;
    color: #D1D4DA;
    font-size: 14px;
}
ul.st-list.socials li{
	border-right: 1px solid #374969; 
}
ul.st-list.topbar-items {
	/*padding-left: 18px;*/
}
a {
    color: #D1D4DA;
    text-decoration: none;
}
.clearfix {
	clear: both;
}
.back-menu {
	display: none;
}
.head1 {
	color: #1A2B48;
	width: 100%;
	height: 91px;
	z-index: 2;
/*	padding-right: 50px;*/
/*	padding-left: 50px;*/
}
.st-main-menu {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.head1 .header1left img {
	float: left;
        position: absolute;
    top: 80px;
    left: 36px;
   /* z-index: 2;*/

}

 .socials a {
	text-decoration: none;
    padding-left: 16px;
}
.header1right {
	float: right;
	position: relative;
        z-index: 2;
	margin-top: 40px;
	margin-left: 75px;

}
.header-search i.fa.fa-search {
    position: absolute;
    top: 7px;
    left: 169px;
    font-size: 18px;
}
i.fa.fa-cart-plus {
    position: absolute;
    top: 0;
    left: 204px;
    font-size: 28px;
}
/*input.form-control {
	padding: 5px;
}
i.fa.fa-search {
	position: absolute;
	top: 7px;
	right: 6px;
}*/
.menu {
        position: absolute;

        background: rgba(255,255,255,.5);
        margin-left: 150px;
                z-index: 1;
        box-sizing: border-box;
    }

    nav {
        position: relative;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li a {
        display: block;
        text-transform: uppercase;
       font-weight: bold;
       text-decoration: none;
       color: black;

    } 
    nav ul li ul {
        display: block;
        background: white;
        min-width: 200px;
        position: absolute;
        margin-top: 1px;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        transition: .5s;
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }
    nav ul li:hover ul {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        color: blue;
    }
    nav ul li a:hover {
        text-decoration: none;
    }
    nav ul li ul li a {
        padding: 10px;
    }
    .text a {
    font-size: 20px;
}
    .toggle {
    	width: 100%;
    	box-sizing: border-box;
    	font-size: 20px;
    	display: none;

    }
    @media screen and (max-width: 991px) 
    {
    	ul.st-list.socials li {
    		border-right: none;
    	}
    	ul.st-list.socials li a {
   	 padding-right: 5px;
	}
		.topbar .topbar-items li:not(:last-child) {
    border-right: none;
}
ul.st-list.topbar-items li {

    padding-left: 0px;

}
.hidden-sm {
    display: none!important;
}
nav ul li {
	/*display: none;*/
    }
       .head1 {
        padding-right: 20px;
}
.header1left img{
	padding-left: 10px;
}
i.fa.fa-cart-plus {
    position: absolute;
    top: 0;
        left: -17px;
    font-size: 28px;
}
 .toggle {
    display: block;
    float: left;
    position: absolute;
    top: 96px;
    left: 0;
    }
    #st-main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
#st-main-menu.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
#st-main-menu #main-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#st-main-menu #main-menu li {
    display: block !important;
}
#st-main-menu.open .back-menu {
    opacity: 1;
    left: 0;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

#st-main-menu .back-menu {
    position: fixed;
    top: 0;
    left: -110%;
    background: #f5f5f5;
    width: 300px;
    height: 50px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    color: grey;
    padding-left: 22px;
    opacity: 0.8;
    border-bottom: 1px solid #EEEEEE;
    text-decoration: none;
    -webkit-transition: left .3s ease, opacity .3s ease;
    transition: left .3s ease, opacity .3s ease;
}

#st-main-menu.open #main-menu {
    opacity: 1;
    left: 0;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
#st-main-menu #main-menu {
    position: fixed;
    /*top: 50px;*/
    left: -110%;
    width: 300px;
    height: 100%;
    background: #FFF;
    opacity: 0.8;
    -webkit-transition: left .3s ease, opacity .3s ease;
    transition: left .3s ease, opacity .3s ease;
    overflow-y: auto;
}
#st-main-menu #main-menu li {
    display: block !important;
    border-bottom: 1px solid #EEEEEE;
}
ul {
	padding: 0;
}
#st-main-menu #main-menu > li > a {
    display: block;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#st-main-menu #main-menu li a {
    padding: 18px 25px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
nav ul {
    display: block;
    margin-top: 5.5%;
}
nav ul li {
    /* display: none; */
    background: #f5f5f5;
    width: 300px;
}
i.fa.fa-angle-down {
	padding-left: 10px;
	float: right;
}
#st-main-menu #main-menu li:not(:last-child) a {
    border-bottom: 1px solid #EEEEEE;
}
}
nav ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 35px;
    text-decoration: none;
    color: black;
    }



